html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: #EEEEEE;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('Cholka.png'); /* Установка изображения фоном */
    background-size: cover; /* Масштабирование изображения для покрытия всей области */
    background-position: center; /* Центрирование изображения */
}

main {
    position: relative;
    z-index: 1;
    width: 90%;
    max-width: 800px;
    text-align: center;
    padding: 20px;
    background: rgba(238, 238, 238, 0.8); /* Полупрозрачный фон для контента */
    border-radius: 8px;
}

.invitation p {
    font-family: "Great Vibes", cursive;
    font-weight: 500;
    font-size: 2.5em;
    margin: 1em 0;
    opacity: 0;
    animation: fadeInAnimation 6s forwards;
}

.invitation .date {
    font-size: 2.5em;
}

.invitation .names {
    font-size: 7em;
    color: #e32424;
    margin-top: 0.5em;
}

.details {
    font-family: "Great Vibes", cursive;
    margin-top: 2em;
    text-align: center;
    opacity: 0;
    animation: fadeInAnimation 8s forwards;
}

.details h2 {
    font-family: "Great Vibes", cursive;
    font-size: 3em;
    color: #464640;
    margin-bottom: 0.5em;
}

.details p {
    font-family: "Great Vibes", cursive;
    font-size: 2em;
    color: #464640;
    margin-bottom: 0.5em;
}

footer {
    font-family: "Great Vibes", cursive;
    margin-top: 2em;
    font-size: 1.5em;
    color: #555;
}

footer a {
    color: #6b705c;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Анимация появления текста */
@keyframes fadeInAnimation {
    to {
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    animation: fadeInAnimation 2s forwards;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .invitation p {
        font-size: 2em;
    }
    .invitation .date {
        font-size: 2.5em;
    }
    .invitation .names {
        font-size: 4em;
    }
    .details h2 {
        font-size: 1.5em;
    }
}

@media (max-width: 480px) {
    .invitation p {
        font-size: 1.5em;
    }
    .invitation .date {
        font-size: 2em;
    }
    .invitation .names {
        font-size: 3em;
    }
    .details h2 {
        font-size: 1.2em;
    }
}

